<div id="greetingBox">

  <div class="greetingRow" id="hiRow">
    <h1><%= greeting.hi %></h1>
  </div>

  <div class="greetingRow" id="introRow">
    <h1>I'm <span id="ron"><%= greeting.name %></span></h1>
  </div>

  <div class="greetingRow" id="extraIntroRow">
    <h1><%= greeting.title %></h1>
  </div>

  <div class="greetingRow" id="descriptionRow">
    <h4>
      <%= greeting.description %>
    </h4>
  </div>
</div>